<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050367978739-c9f112nodbqns7oi5j7nami8ldn8f7h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050367978739-c9f112nodbqns7oi5j7nami8ldn8f7h5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYyKc4YVbCJhntOJ8zXyscm_MNsW9eh-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1050367978739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>metanoia-3b14b</string>
	<key>STORAGE_BUCKET</key>
	<string>metanoia-3b14b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050367978739:ios:ec502f41515f1c0c6a5b86</string>
</dict>
</plist>